<div class="navbar-wagon">
  <!-- Logo -->

  <%= link_to cocktails_path, class: "navbar-wagon-brand" do %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Profil</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Mes cocktails</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Mes bars</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/n7eonard" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Paramètres</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
